<p id="notice"><%= notice %></p>

<p>
  <strong>Wr title:</strong>
  <%= @g4_dongal_board_proceeding.wr_title %>
</p>

<p>
  <strong>Wr link:</strong>
  <%= @g4_dongal_board_proceeding.wr_link %>
</p>

<p>
  <strong>Wr writer:</strong>
  <%= @g4_dongal_board_proceeding.wr_writer %>
</p>

<p>
  <strong>Wr created on:</strong>
  <%= @g4_dongal_board_proceeding.wr_created_on %>
</p>

<%= link_to 'Edit', edit_g4_dongal_board_proceeding_path(@g4_dongal_board_proceeding) %> |
<%= link_to 'Back', g4_dongal_board_proceedings_path %>
