<p id="notice"><%= notice %></p>

<p>
  <strong>Wr title:</strong>
  <%= @g4_dongal_board_life.wr_title %>
</p>

<p>
  <strong>Wr link:</strong>
  <%= @g4_dongal_board_life.wr_link %>
</p>

<p>
  <strong>Wr writer:</strong>
  <%= @g4_dongal_board_life.wr_writer %>
</p>

<p>
  <strong>Wr created on:</strong>
  <%= @g4_dongal_board_life.wr_created_on %>
</p>

<%= link_to 'Edit', edit_g4_dongal_board_life_path(@g4_dongal_board_life) %> |
<%= link_to 'Back', g4_dongal_board_lives_path %>
