<p id="notice"><%= notice %></p>

<h1>Listing G4 Dongal Board Scholars</h1>

<table>
  <thead>
    <tr>
      <th>Wr title</th>
      <th>Wr link</th>
      <th>Wr writer</th>
      <th>Wr created on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @g4_dongal_board_scholars.each do |g4_dongal_board_scholar| %>
      <tr>
        <td><%= g4_dongal_board_scholar.wr_title %></td>
        <td><%= g4_dongal_board_scholar.wr_link %></td>
        <td><%= g4_dongal_board_scholar.wr_writer %></td>
        <td><%= g4_dongal_board_scholar.wr_created_on %></td>
        <td><%= link_to 'Show', g4_dongal_board_scholar %></td>
        <td><%= link_to 'Edit', edit_g4_dongal_board_scholar_path(g4_dongal_board_scholar) %></td>
        <td><%= link_to 'Destroy', g4_dongal_board_scholar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New G4 dongal board scholar', new_g4_dongal_board_scholar_path %>
