<%= form_for(@g4_dongal_board_engineer) do |f| %>
  <% if @g4_dongal_board_engineer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@g4_dongal_board_engineer.errors.count, "error") %> prohibited this g4_dongal_board_engineer from being saved:</h2>

      <ul>
      <% @g4_dongal_board_engineer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wr_title %><br>
    <%= f.text_field :wr_title %>
  </div>
  <div class="field">
    <%= f.label :wr_link %><br>
    <%= f.text_field :wr_link %>
  </div>
  <div class="field">
    <%= f.label :wr_writer %><br>
    <%= f.text_field :wr_writer %>
  </div>
  <div class="field">
    <%= f.label :wr_created_on %><br>
    <%= f.date_select :wr_created_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
