<p id="notice"><%= notice %></p>

<p>
  <strong>Wr title:</strong>
  <%= @g4_dongal_board_sba.wr_title %>
</p>

<p>
  <strong>Wr link:</strong>
  <%= @g4_dongal_board_sba.wr_link %>
</p>

<p>
  <strong>Wr writer:</strong>
  <%= @g4_dongal_board_sba.wr_writer %>
</p>

<p>
  <strong>Wr created on:</strong>
  <%= @g4_dongal_board_sba.wr_created_on %>
</p>

<%= link_to 'Edit', edit_g4_dongal_board_sba_path(@g4_dongal_board_sba) %> |
<%= link_to 'Back', g4_dongal_board_sbas_path %>
